:root {
  --default-color: black;
  --brand-color1: #910528;
  --brand-color2: #31507a;
  --brand-color3: white;
  --default-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --heading-font-family: impact;
  --default-font-size: calc(10px + 0.7vh);
  --small-font-size: 12px;
}

body {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
}

h1,
h2 {
  color: var(--brand-color1);
}

#footer {
  color: rgb(255, 255, 255, 1);
  background-color: rgb(0, 0, 0, 0.5);
  font-size: 14px;
}
#footer a {
  color: rgb(255, 255, 255, 1);
}

.carousel-caption {
  position: absolute;
  right: 0%;
  bottom: 1.25rem;
  left: 0%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
}

.center {
  text-align: center;
}

.credit,
.credit a {
  font-size: var(--small-font-size);
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
}
.credit a:hover {
  text-decoration: underline;
}

.fab,
.fas {
  font-size: 36px;
}

.hero h1 {
  font-size: 96px;
  color: rgb(255, 255, 255, 0.5);
  background-color: rgb(0, 0, 0, 0.5);
}

.menu h1 {
  font-size: 24px;
  color: var(--default-color);
}

.img-portfolio {
  width: 600px;
  height: 500px;
  object-fit: cover;
}

.rounded {
  border-radius: 15px !important;
}

/* GALLERY */
#gallery .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns */
#gallery .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

#gallery .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #gallery .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #gallery .column {
    flex: 100%;
    max-width: 100%;
  }
}
